<div class="container">
<h1 class="display-4">Sign up</h1><br />

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true, placeholder: "Your username" %>
  </div><br />

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email", placeholder: "Your email" %>
  </div><br />

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Your password" %>
  </div><br />

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm password" %>
  </div><br />

  <div id='target'>
  </div>

  <div class="field">
    <%= f.label :avatar do %>
      <%= f.file_field :avatar, class: 'avatar-preview' %>
      <%= f.hidden_field :avatar_cache %>
    <% end %>
  </div><br />

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
