<% if group.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>
    <ul><% group.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="actions">
  <%= form_for group do |group_form| %>
    <%= group_form.label ("Group's name: ") %>
    <%= group_form.text_field :name, placeholder: "Name" %><br><br>
    <%= group_form.label ("Invite friends: ") %>
    <%= text_area_tag 'emails', nil, rows: 5, cols: 30 %>
    <br>
    <%= group_form.submit "Submit", class: "btn btn-outline-success float-left" %>
  <% end %>
</div>
