<p id="notice"><%= notice %></p>

<div class="container">
  <h1 class="display-4">Groups</h1>
  <br>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <p><strong>Name</strong></p>
      </div>
      <div class="col-md-4">
        <p><strong>Created on</strong></p>
      </div>
      <div class="col-md-4">
        <p><strong>Members</strong></p>
      </div>
    </div>

    <% @groups.each do |group| %>
      <div class="row">
        <div class="col-md-4">
          <p><%= link_to group.name, group_path(group) %></p>
        </div>
        <div class="col-md-4">
          <p><%= group.created_at.strftime("%m/%d/%Y") %></p>
        </div>
        <div class="col-md-4">
          <ul class="not-decorated-list">
            <% group.users.each do |member| %>
              <li><%= link_to member.username, user_path(member) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to "Create new group", new_group_path, class: "btn btn-outline-info" %>
</div>
