<p id="notice"><%= notice %></p>

<div class="container">
  <h1 class="display-4">Groups</h1>
  <br>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <p><strong>Name</strong></p>
      </div>
      <div class="col-md-4">
        <p><strong>Created on</strong></p>
      </div>
      <div class="col-md-4">
        <p><strong>Members</strong></p>
      </div>
    </div>

    <div class="row">
      <% @groups.each do |group| %>
        <div class="col-md-4">
          <p><%= group.name %></p>
        </div>
        <div class="col-md-4">
          <p><%= group.created_at.strftime("%m/%d/%Y") %></p>
        </div>
        <div class="col-md-4">
          <% group.users.each do |member| %>
              <ul><%= link_to member.username, user_path(member) %></ul>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <%= link_to "Create new group", new_group_path %>
</div>
