<div class="card debt-details">
  <div class="card-header">
    Debts history
  </div>
  <div class="card-body">
    <ul class="not-decorated-list payers-list">
      <% @user.debts_as_borrower.amount_grouped_by_payer.each do |payer, amount| %>
        <li>You owe <%= number_to_currency(amount) %> to <%= payer %></li>
        <li>
          <ul class="not-decorated-list payers-list indentation">
            <% @user.debts_as_borrower.each do |debt| %>
              <li><%= number_to_currency(debt.amount) %> for <%= debt.bill.title %> bill</li>
            <% end%>
          </ul>
        </li>
      <% end %>
    </ul>
    <ul class="not-decorated-list borrowers-list">
      <% @user.debts_as_payer.amount_grouped_by_borrower.each do |borrower, amount| %>
        <li><%= borrower.username %> owes you <%= number_to_currency(amount) %></li>
        <li>
          <ul class="not-decorated-list borrowers-list indentation">
            <% @user.debts_as_payer.where(paid: false).where.not(amount: 0).where(borrower: borrower).each do |debt| %>
              <li><%= number_to_currency(debt.amount) %> for <%= debt.bill.title %> bill</li>
              <%= link_to "Settle", settle_debt_path(debt_id: debt.id), method: :put %> </li>
            <% end%>
          </ul>
        </li>
      <% end %>
    </ul>

  </div>
</div>
