<div class="card group-details">
  <div class="card-header">
    Groups
  </div>
  <div class="card-body">

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Created on</th>
          <th>Members</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @user.groups.each do |group| %>
          <tr>
            <td><%= group.name %></td>
            <td><%= group.created_at.strftime("%m/%d/%Y") %></td>
            <td>
              <% group.users.each do |member| %>
                <%= link_to member.username, user_path(member) %></br>
              <% end %>
            </td>
            <td>
              <%= link_to 'Edit', group_path(group) %>
              <%= link_to 'Delete', group_path(group), method: :delete %>
            </td>
            <td>
              <%= link_to 'Show bills', group_bills_path(group.id), remote: true %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
