<div class="card group-details">
  <div class="card-header">
    Groups
  </div>
  <div class="card-body">

    <div class="row">
      <div class="col-md-3">
        <p><strong>Name</strong></p>
      </div>
      <div class="col-md-3">
        <p><strong>Created on</strong></p>
      </div>
      <div class="col-md-3">
        <p><strong>Members</strong></p>
      </div>
      <div class="col-md-3">
        <p><strong>Actions</strong></p>
      </div>
    </div>

    <% @user.groups.each do |group| %>
      <div class="row">
        <div class="col-md-3">
          <p><%= link_to group.name, group_path(group) %></p>
        </div>
        <div class="col-md-3">
          <p><%= group.created_at.strftime("%m/%d/%Y") %></p>
        </div>
        <div class="col-md-3">
          <% group.users.each do |member| %>
            <ul class="not-decorated-list">
              <li><%= link_to member.username, user_path(member) %></li>
            </ul>
          <% end %>
        </div>
        <div class="col-md-3">
          <ul class="not-decorated-list">
            <% if can? :edit, group %>
              <li><%= link_to 'Edit', edit_group_path(group) %></li>
            <% end %>
            <% if can? :delete, group %>
            <li><%= link_to 'Delete', group_path(group), method: :delete %></li>
            <% end %>
            <li><%= link_to 'Show bills', group_bills_ajax_path(group.id), remote: true %></li>
          </ul>
        </div>
      </div>
    <% end %>
    <%= link_to "Create new group", new_group_path %>
  </div>
</div>
