<div class="container">

  <div class="row">
    <div class="col-md-12 user-header">
      <% if current_user == @user %>
        <h1>Welcome to your profile page, <strong><%= @user.username %></strong> !</h1>
      <% else %>
        <h1>Welcome to <strong><%= @user.username %>'s</strong> profile page!</h1>
      <% end %>
    </div>
  </div>
  <div class="row card-deck">
      <%= render 'users/user_details', object: @user %>
      <%= render 'users/debt_details', object: @user %>
  </div>

  <div class="row card-deck">
      <%= render 'users/group_details', object: @user %>
      <div class="card bill-details" id="bill-details">
        <div class="card-header">
          Bills
        </div>
        <div class="card-body">
          <p>Choose a group to create bills</p>
        </div>
      </div>
  </div>

</div>
