<div class="container">

  <div class="row">
    <div class="col-md-12 user-header">
      <% if current_user == @user %>
        <h1>Welcome to your profile page, <strong><%= @user.username %></strong> !</h1>
      <% else %>
        <h1>Welcome to <strong><%= @user.username %>'s</strong> profile page!</h1>
      <% end %>
    </div>
  </div>

  <div class="row card-deck">
    <%= render 'user_details', object: @user %>
    <%= render 'debts_history', object: @user %>
  </div>

  <div class="row card-deck">
    <%= render 'group_details', object: @user %>
    <%= render 'bills', object: @user %>
  </div>

</div>
