<%= will_paginate @all_users, class: 'apple_pagination' %>

<div class="container">
  <% @all_users.each do |user| %>
    <% unless user.admin? %>
      <div class="row users-listing">
        <div class="col-md-3">
          <%= image_tag(user.avatar.url, class: 'img-thumbnail') %>
        </div>
        <div class="col-md-4">
          <ul class="not-decorated-list">
            <li><%= user.username %></li>
            <li>Email: <strong><%= user.email %></strong></li>
            <li>Belongs to <strong><%= pluralize(user.groups.count, 'group') %></strong></li>
            <li>Joined Split Guru <strong><%= time_ago_in_words(user.created_at) %></strong> ago</li>
          </ul>
        </div>
        <% if user.blocked? %>
          <div class="col-md-2">
            <p>Blocked</p>
          </div>
          <div class="col-md-3">
            <% if current_user.admin? %>
            <%= link_to 'Unban', ban_path(user),
                controller: :users_controller, action: :update, method: :put,
                data: {confirm: "You sure?"}, role: 'button',
                class: 'btn btn-success ml-2r' %>
            <%= link_to 'Delete', user_path(id: user.id), method: :delete,
                data: {confirm: "You sure?"}, role: 'button',
                class: 'btn btn-danger ml-2r' %>
            <% end %>
            <%= link_to 'Show profile', user_path(id: user.id), class: 'btn btn-info ml-2r' %>
          </div>
        <% else %>
          <div class="col-md-2">
            <p></p>
          </div>
          <div class="col-md-3">
            <% if current_user.admin? %>
            <%= link_to 'Ban', ban_path(user), data: {confirm: "You sure?"},
                role: 'button', class: 'btn btn-warning ml-2r' %>
            <%= link_to 'Delete', user_path(id: user.id), method: :delete,
                data: {confirm: "You sure?"}, role: 'button',
                class: 'btn btn-danger ml-2r' %>
            <% end %>
            <%= link_to 'Show profile', user_path(id: user.id), class: 'btn btn-info ml-2r' %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

<%= will_paginate @all_users, class: 'apple_pagination mt-4' %>
